@charset "utf-8";
/*Reset*/
html{color:#333;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}input,select,textarea{font-size:100%;outline:medium none;}table{border-collapse:collapse;border-spacing:0;}th{text-align:inherit;}fieldset,img{border:0;}iframe{display:block;}abbr,acronym{border:0;font-variant:normal;}del{text-decoration:line-through;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500;}ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}q:before,q:after{content:'';}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}a:hover{text-decoration:underline;}ins,a{text-decoration:none;}
/*Base*/
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;}
.cl{clear:both;display:block;height:0;overflow:hidden;font-size:0;}
.hide{display:none;}
img{vertical-align:middle;}
em,i{font-style:normal;}
input,select,label{vertical-align:middle;}
/*Global*/
a:hover{text-decoration:none;}
.pr{position:relative;}
.pa{position:absolute;}
.fl,.fr {display:inline;}
.fl{float:left;}
.fr{float:right;}
.tr{text-align:right;}
.hide{display:none;}
.vta-m{vertical-align:middle;}
.w{width:1000px;margin:0 auto;}
.w1190{width:1190px;margin:0 auto 10px;min-width:1190px;}

.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mb20{margin-bottom:20px;}
.mtb10{margin-top:10px;margin-bottom:10px;}
.mtb15{margin-top:15px;margin-bottom:15px;}
.pt10{padding-top:10px;}
.tc{text-align:center;}
.tr{text-align:right;}
.ti10{text-indent:10px;}

.c0{color:#000;}
.c3{color:#333;}
.c6{color:#666;}
.c9{color:#999;}
.cr{color:#d71d2c;}
.cb{color:#1353af;}
.cw{color:#fff;}
.co{color:#f60;}
.cg{color:#390;}
.cd00{color:#DD0000;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.fwb{font-weight:700;}

.ico{display:inline-block;}
.ico-email{width:11px;height:8px;background:url(images/sprite.png) no-repeat 0 0;}
.ico-dropdown{width:15px;height:15px;background: url(images/sprite.png) no-repeat 0 -18px;}
.ico-new{width:10px;height:9px;background: url(images/sprite.png) no-repeat -16px 0;}

.header-tool{height:32px;line-height:32px;margin-top:34px;padding-right:45px;text-align:right;color:#333;}
.header-tool a{color:#333;margin:0 8px;}
.header{height:416px;overflow:hidden;}
.index-header{height:548px;}
.header .w{position:relative;}
.header .logo img{display: block;margin:17px 0 0 30px;}
.index-header .logo img{display: block;margin:31px 0 0 30px;}


.menu{width:951px;height:54px;margin:8px 0 0 12px;background:url(images/menu-bg.png) no-repeat 0 0;}
.menu-box{padding:7px 0 0 96px;}
.menu li{display: inline;float:left;height:43px;}
.menu a{display: block;height:38px;margin-right:2px;text-indent:-9999px;}
.menu .cur{background:url(images/menu-dot.png) no-repeat 50% bottom; _background:url(images/menu-dot-png8.png) no-repeat 50% bottom;;}
.menu .menu1{width:78px;}
.menu .menu2{width:107px;}
.menu .menu3{width:107px;}
.menu .menu4{width:107px;}
.menu .menu5{width:107px;}
.menu .menu6{width:107px;}
.menu .menu7{width:107px;}

.footer{height:117px;background: url(images/footer-bg.png) no-repeat 50% 0;}
.footer .logo{margin:30px 15px 0 32px;}
.footer-main{width:500px;*width:510px;}
.footer-nav{height:22px;line-height:22px;margin:17px 0 0 0;}
.footer-nav a{color:#666;}
.footer-nav span{margin:0 8px;*margin:0 6px;}
.copyright{color:#848484;}
.copyright .ico-email{margin-right:6px;vertical-align:middle;_vertical-align:-4px;}
.friendlink{position:relative;width:148px;height:18px;margin:20px 42px 0 0;*margin-right:30px;border:1px solid #DCDCDC;color:#606060;}
.friendlink .dropdown{position:absolute;width:148px;height:18px;text-indent:10px;overflow:hidden;}
.friendlink .dropdown .ico-dropdown{position: absolute;right:1px;top:1px;}
.friendlink .droplist{position: absolute;bottom:18px;left:-1px;width:148px;padding:5px 0;border:1px solid #DCDCDC;background-color: #FFF;}
.friendlink .droplist a{display: block;margin:5px 0;color:#606060;text-indent:10px;}
.friendlink .droplist a:hover{text-decoration:underline;}